# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [4]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [5]:
# Your code here:
df_sal_emp=pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [6]:
# Your code here:
display(df_sal_emp.shape)
df_sal_emp.head()

(33702, 8)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:
df_sal_emp.isna().sum()/len(df_sal_emp)

Name                 0.000000
Job Titles           0.000000
Department           0.000000
Full or Part-Time    0.000000
Salary or Hourly     0.000000
Typical Hours        0.757462
Annual Salary        0.242538
Hourly Rate          0.757462
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [8]:
# Your code here:
df_sal_emp['Salary or Hourly'].value_counts(dropna=False)

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [9]:
# Your code here:
dept_emp_cnt=pd.DataFrame(df_sal_emp['Department'].value_counts()).reset_index()#,columns=['Department',"Number of Employees"])
dept_emp_cnt.columns=['Department','Number of Employees']
dept_emp_cnt
# Error prone (therefore commented): df_sal_emp.pivot_table(index=['Department'],aggfunc=['count'])

             Department  Number of Employees
0                POLICE                13848
1                  FIRE                 4627
2         STREETS & SAN                 2175
3           WATER MGMNT                 1914
4              AVIATION                 1856
5                  OEMC                 1737
6            TRANSPORTN                 1113
7        PUBLIC LIBRARY                 1088
8                  DAIS                 1033
9      FAMILY & SUPPORT                  656
10              FINANCE                  544
11               HEALTH                  467
12                  LAW                  398
13         CITY COUNCIL                  362
14            BUILDINGS                  258
15  PUBLIC SAFETY ADMIN                  244
16     BUSINESS AFFAIRS                  167
17   HOUSING & ECON DEV                  154
18                 COPA                  123
19    BOARD OF ELECTION                  111
20       MAYOR'S OFFICE                  104
21        INSPECTOR GEN                   95
22           CITY CLERK                   88
23          PROCUREMENT                   84
24      HUMAN RESOURCES                   75
25        ANIMAL CONTRL                   75
26     CULTURAL AFFAIRS                   74
27              HOUSING                   66
28        BUDGET & MGMT                   44
29         ADMIN HEARNG                   38
30         DISABILITIES                   28
31            TREASURER                   28
32      HUMAN RELATIONS                   17
33      BOARD OF ETHICS                    8
34         POLICE BOARD                    2
35    LICENSE APPL COMM                    1

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [10]:
# Two-sided test:
# Null hypothesis or H0: mean hourly wage = 30.0
# Alternative hyp or H1: mean hourly wage <> 30.0

from scipy.stats import ttest_1samp
df_hourly_rate=df_sal_emp[df_sal_emp['Hourly Rate'].notna()]['Hourly Rate']
stat, pval = ttest_1samp(df_hourly_rate, 30)
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

# Inference - As the t-statistic value is of postivie nature, the mean of the sample falls on the positive side of 30.0,
# meaning greater than 30, and the p-value is superlow which is tending to 0, meaning that null hypothesis H0 can comfortably
# be rejected to give way to alternate hypothesis being true, which means hourly wage significantly differs from 30$/hr.

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [11]:
# One-sided test:
# Null hypothesis or H0: mean annual salary of police force <= 86000
# Alternative hyp or H1: mean annual salary of police force > 86000

df_sal=df_sal_emp[(df_sal_emp['Department']=='POLICE') & (df_sal_emp['Salary or Hourly']=='Salary')]['Annual Salary']
stat, pval = ttest_1samp(df_sal, 86000)
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval/2)

# Inference - Our p-value of very small value and the t-statistic value of postivie value suggests us to reject the null 
# hypothesis, which indicates that salaries are indeed higher than mean of 86000.

stat is   18.51748561981861
pvalue for the two-tailed test is  6.119566952121482e-76

Using the `crosstab` function, find the department that has the most hourly workers.

In [12]:
top_hours_dept=pd.crosstab(df_sal_emp['Department'], df_sal_emp['Salary or Hourly'], margins=False).sort_values(by=['Hourly'],ascending=False).index[0]
top_hours_dept

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [13]:
# One-sided test:
# Null hypothesis or H0: average hourly wage <= 35
# Alternative hyp or H1: average hourly wage > 35
# As it is a one-sided test, we go by the norm of having H0<=mean and H1>mean, and then wait to see what t-test concludes.

df_hourly_rate=df_sal_emp[(df_sal_emp['Department']==top_hours_dept) & (df_sal_emp['Salary or Hourly']=='Hourly')]['Hourly Rate']
stat, pval = ttest_1samp(df_hourly_rate, 35)
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval/2)

# Inference - As we observe that our p-value is of very small value(<<0.05) and the t-statistic value is postivie which 
# suggests us to reject the null hypothesis, which basically was: hourly wage <= 35 and indeed it's not. So, we assume
# the claim by the workers of having average hourly wage <35$ is indeed false.

stat is   4.000138803968834
pvalue for the two-tailed test is  3.2902372218867895e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [14]:
confidence_level = 0.95
degrees_freedom = len(df_sal) - 1
sample_mean = np.mean(df_sal)
sample_standard_error = scipy.stats.sem(df_sal)
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print('Confidence Interval is between: ', round(confidence_interval[0],2),'-', round(confidence_interval[1],2))

Confidence Interval is between:  88534.12 - 89134.12

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [17]:
from statsmodels.stats.proportion import proportions_ztest
#H0: num_hourly_workers.Total workers in Chicago = 25%
#H1: num_hourly_workers.Total workers in Chicago != 25%

zstat, pval=proportions_ztest(count=len(df_sal_emp[df_sal_emp['Salary or Hourly']=='Hourly']),
                             nobs=len(df_sal_emp),
                             value=0.25)

print("zstat value : ",zstat)
print("pvalue value : ", pval)

# p value less than 0.05 states we cvan reject the null hypothesis and negative z value states the proportion of hourly
# workers  is less than 25% of the total number of employees.

zstat value :  -3.1962453870335
pvalue value :  0.0013922864704323116